{% extends 'AppBundle::base.html.twig' %}

{% block admin %}
    <br>
    <br>
    <br>
    <br>
    <center>
        <form action="{{ path('search_all_employersPost') }}" method="post"
              style="box-shadow: 0px 0px 10px;padding: 30px;width: 900px;">
            <div class="input-group">
                <input type="text" name="search" class="form-control">
                <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Chercher</button>
            </span>
            </div>
            <a href="#" style="float: right;" class="avancer">Recherche avancée</a>
        </form>
    </center>
    {% if app.user.roles[0] == 'ROLE_SUPER_ADMIN' %}
        <a href="{{ path('create_one') }}" id="news" class="btn btn-primary" style="float: right;"><i
                    class="fa fa-plus"></i> Nouveau</a>
    {% endif %}
    <div class="row" id="avancer" style="">
        <div class="col-md-12 col-xs-15" style="">
            <div class="x_panel" style="background:#2a6496;">
                <div class="x_content">
                    <br/>
                    <h3>Votre recherche</h3>
                    <br/>

                    <form class="form-horizontal form-label-left" action="{{ path('rich_all_employersPost') }}"
                          method="post">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Trier par ordre</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select class="form-control" name="employerOrdre">
                                    <option value="">Trier par ordre</option>
                                    <option value="DESC">Décroissant</option>
                                    <option value="ASC">Croissant</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Votre recherche</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input type="text" class="form-control" value="" name="search"
                                       placeholder="Votre recherche">
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                <input type="submit" class="btn btn-primary" value="Rechercher"/>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="x_panel">
        <div class="x_title">
            <h2>List des employers
                <small style="color: red;">{% if msg is defined %} {{ msg }} {% endif %}</small>
            </h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <ul class="list-unstyled timeline">
                {% for employer in employers %}
                    {% if app.user.roles[0] == 'ROLE_SUPER_ADMIN' %}
                        <li>
                            <div class="block">
                                {% set break = false %}
                                {% for img in image if not break %}
                                    {% if img.imageIdEmployer == employer.id %}
                                        <div class="tags">
                                            <img src="{{ asset('bundles/app/uploads/'~img.imageName) }}"
                                                 style="width:60px;height:60px;border-radius:60px 60px 60px 60px;">
                                        </div>
                                        {% set break = true %}
                                    {% endif %}
                                {% endfor %}
                                {% if break == false %}
                                    <div class="tags">
                                        <a href="#" class="tag">
                                            <span>N° : {{ employer.id }}</span>
                                        </a>
                                    </div>
                                {% endif %}

                                <div class="block_content">
                                    <h2 class="title">
                                        <a>{{ employer.nom~' '~employer.prenom }}</a>
                                    </h2>
                                    <div class="byline">
                                        <span>Date de naissance</span> : <a>{{ employer.dateNaissance }}</a>
                                    </div>
                                    <div class="byline">
                                        <span>Age</span> : <a>{{ "now"|date('Y')-employer.dateNaissance|date('Y') }} ans</a>
                                    </div>
                                    <div class="byline">
                                        <span>CIN</span> : <a>{{ employer.cin }}</a>
                                    </div>
                                    <div class="byline">
                                        <span>Lieu de naissance</span> : <a>{{ employer.lieuNaissance }}</a>
                                    </div>
                                    <div class="byline">
                                        <span>Sexe</span> : <a>{{ employer.sexe }}</a>
                                    </div>
                                    <div class="byline">
                                        <span>Situation</span> : <a>{{ employer.situation }}</a>
                                    </div>
                                    <div class="byline">
                                        <span>Addresse</span> : <a>{{ employer.addresse }}</a>
                                    </div>

                                    {% if app.user.id ==  employer.id %}
                                        <a href="{{ path('pre_update_employer',{'id':employer.id,'nom':employer.nom,'prenom':employer.prenom,'dateNaissance':employer.dateNaissance,'cin':employer.cin,'lieuNaissance':employer.lieuNaissance,'sexe':employer.sexe,'situation':employer.situation,'addresse':employer.addresse}) }}">
                                            <small type="submit">Modifier</small>
                                        </a>
                                    {% endif %}
                                    <a href="{{ path('plus_employers',{'id':employer.id}) }}">
                                        <small>Plus d'information</small>
                                    </a>
                                </div>
                            </div>
                        </li>
                    {% elseif app.user.id ==  employer.id %}
                        <div class="block">
                            {% set break = false %}
                            {% for img in image if not break %}
                                {% if img.imageIdEmployer == employer.id %}
                                    <div class="tags">
                                        <img src="{{ asset('bundles/app/uploads/'~img.imageName) }}"
                                             style="width:60px;height:60px;border-radius:60px 60px 60px 60px;">
                                    </div>
                                    {% set break = true %}
                                {% endif %}
                            {% endfor %}
                            {% if break == false %}
                                <div class="tags">
                                    <a href="#" class="tag">
                                        <span>N° : {{ employer.id }}</span>
                                    </a>
                                </div>
                            {% endif %}

                            <div class="block_content">
                                <h2 class="title">
                                    <a>{{ employer.nom~' '~employer.prenom }}</a>
                                </h2>
                                <div class="byline">
                                    <span>Date de naissance</span> : <a>{{ employer.dateNaissance }}</a>
                                </div>
                                <div class="byline">
                                    <span>Age</span> : <a>{{ "now"|date('Y')-employer.dateNaissance|date('Y') }} ans</a>
                                </div>
                                <div class="byline">
                                    <span>CIN</span> : <a>{{ employer.cin }}</a>
                                </div>
                                <div class="byline">
                                    <span>Lieu de naissance</span> : <a>{{ employer.lieuNaissance }}</a>
                                </div>
                                <div class="byline">
                                    <span>Sexe</span> : <a>{{ employer.sexe }}</a>
                                </div>
                                <div class="byline">
                                    <span>Situation</span> : <a>{{ employer.situation }}</a>
                                </div>
                                <div class="byline">
                                    <span>Addresse</span> : <a>{{ employer.addresse }}</a>
                                </div>

                                <a href="{{ path('pre_update_employer',{'id':employer.id,'nom':employer.nom,'prenom':employer.prenom,'dateNaissance':employer.dateNaissance,'cin':employer.cin,'lieuNaissance':employer.lieuNaissance,'sexe':employer.sexe,'situation':employer.situation,'addresse':employer.addresse}) }}">
                                    <small type="submit">Modifier</small>
                                </a>
                                <a href="{{ path('plus_employers',{'id':employer.id}) }}">
                                    <small>Plus d'information</small>
                                </a>
                            </div>
                        </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

        </div>
        <ul class="pagination" style="float: right;">
            {% if page is defined %}
                {% if search is defined %}
                    {% if ordre is defined %}
                        {% for pages in page %}
                            <li><a href="{{ path(count,{'pageNum':pages,'employerOrdre':ordre,'search':search}) }}"
                                   method="post" class="active">{{ pages }}</a></li>
                        {% endfor %}
                    {% else %}
                        {% for pages in page %}
                            <li><a href="{{ path(count,{'pageNum':pages,'search':search}) }}" method="post"
                                   class="active">{{ pages }}</a></li>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {% for pages in page %}
                        <li><a href="{{ path(count,{'pageNum':pages}) }}" method="post" class="active">{{ pages }}</a>
                        </li>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </ul>
    </div>

{% endblock %}