{% trans_default_domain 'FOSUserBundle' %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<form action="{{ path("fos_user_change_password") }}" class="fos_user_change_password" method="post"
      style="width: 400px;padding:25px;margin: auto;border: 1px solid #2a6496;">
    {{ form_widget(form.current_password,{'attr':{'class': 'form-control', 'placeholder': 'Password', 'required': 'required'}}) }}
    <br><br>
    {{ form_widget(form.plainPassword.first,{'attr':{'class': 'form-control', 'placeholder': 'New password', 'required': 'required'}}) }}
    <br><br>
    {{ form_widget(form.plainPassword.second,{'attr':{'class': 'form-control', 'placeholder': 'Confirm password', 'required': 'required'}}) }}
    <br><br>
    {{ form_rest(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary"/>
    </div>
</form>
