{% extends 'AppBundle::base.html.twig' %}

{% block admin %}
    <br>
    <br>
    <br>
    <br>
    {% if maintient is defined %}
        <div class="row">
            <div class="col-md-12 col-xs-12" style="padding-left: 0px;">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Maintient d'un personnel etape finale

                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>
                        <form class="form-horizontal form-label-left" action="{{ path('create_one_maintient') }}"
                              method="post">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Personnel</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <select class="form-control" required disabled="disabled" id="userId">
                                        {% for value in employers %}
                                            <option value="{{ value.id }}">{{ value.nom~' '~value.prenom }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {% for value in employers %}
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Date de naissance</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" name="employerDateNaissance"
                                               class="form-control has-feedback-left"
                                               value="{{ value.dateNaissance }}" id="single_cal1"
                                               placeholder="Date de naissance" aria-describedby="inputSuccess2Status"
                                               disabled="disabled">
                                        <span class="fa fa-calendar-o form-control-feedback left"
                                              aria-hidden="true"></span>
                                        <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Lieu de naissance</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control" value="{{ value.lieuNaissance }}"
                                               name="employerLieuNaissance"
                                               placeholder="Lieu de naissance" required disabled="disabled">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">CIN</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control" id="employerCinNew"
                                               value="{{ value.cin }}" maxlength="12"
                                               name="employerCin"
                                               placeholder="CIN" required disabled="disabled">
                                        <span style="color: red;" id="msgCin">Cin doit etre des conbinnaison de 12 chiffre et ne peut pas contenir une letre.</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Sexe</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select class="form-control" name="employerSexe" required disabled="disabled">
                                            <option value="{{ value.sexe }}">{{ value.sexe }}</option>
                                        </select>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Corp</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control"
                                           name="maintientCorp"
                                           placeholder="Corp" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Derniere situattion</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control"
                                           name="maintientDeniereSituation"
                                           placeholder="Derniere situattion" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Date de debut</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" name="maintientDateDebut"
                                           class="form-control has-feedback-left"
                                           id="single_cal2"
                                           placeholder="Date debut" aria-describedby="inputSuccess2Status2">
                                    <span class="fa fa-calendar-o form-control-feedback left"
                                          aria-hidden="true"></span>
                                    <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Durer</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control"
                                           name="maintientDurer"
                                           placeholder="Durer" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Date fin</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" name="maintientDateFin"
                                           class="form-control has-feedback-left"
                                           id="single_cal4"
                                           placeholder="Date de fin"
                                           aria-describedby="inputSuccess2Status4">
                                    <span class="fa fa-calendar-o form-control-feedback left"
                                          aria-hidden="true"></span>
                                    <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Status</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control"
                                           name="maintientStatus"
                                           placeholder="Status" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" id="employerId" class="form-control"
                                           name="employerId"
                                           placeholder="Cas Particulier" required>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-primary">Ajouter</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <center>
            <div class="row">
                <div class="col-md-12 col-xs-12" style="padding-left: 0px;">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Maintient d'un personnel etape 1

                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br/>
                            <form class="form-horizontal form-label-left" action="{{ path('debut_maintient') }}"
                                  method="post" style="box-shadow: 0px 0px 10px;padding: 30px;width: 900px;">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Personnel</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select class="form-control" name="id" required>
                                            {% for value in employers %}
                                                <option value="{{ value.id }}">{{ value.nom~' '~value.prenom }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary">Commencer l'integration</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </center>
        <div class="x_content">
            <p class="text-muted font-13 m-b-30">
                List des maintient faite par les personnels
            </p>

            <a href="{{ path('xel_maintient') }}" class="btn btn-success"
               style="float:right;margin-right:10px;"><i class="fa fa-building-o"></i> Expoter en exel</a>

            <table id="datatable" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Nom et prenom</th>
                    <th>Corps</th>
                    <th>Derniere situation</th>
                    <th>Date de debut</th>
                    <th>Durer du maintient</th>
                    <th>Date fin</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody>
                {% for inter in maintientList %}
                    <tr>
                        {% for employer in employers %}
                            {% if employer.id == inter.employerId %}
                                <td>{{ employer.nom~' '~employer.prenom }}</td>
                            {% endif %}
                        {% endfor %}
                        <td>{{ inter.corp }}</td>
                        <td>{{ inter.derniereSituation }}</td>
                        <td>{{ inter.dateDebut }}</td>
                        <td>{{ inter.durer }}</td>
                        <td>{{ inter.dateFin }}</td>
                        <td>{{ inter.status }}</td>
                        <td>
                            <a href="" class="btn btn-success"
                               style="float:right;margin-right:10px;background: red;"><i class="fa fa-building-o"></i> Refuser</a>
                            <a href="" class="btn btn-success"
                               style="float:right;margin-right:10px;"><i class="fa fa-building-o"></i> Valider</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}