{% extends 'AppBundle::base.html.twig' %}

{% block admin %}
    {% if exist is defined %}
        {% for value in employers %}
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Profil du
                                <small>{{ value.nom~' '~value.prenom }}</small>
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Settings 1</a>
                                        </li>
                                        <li><a href="#">Settings 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                                <div class="profile_img">
                                    <div id="crop-avatar">
                                        <!-- Current avatar -->
                                        <img class="img-responsive avatar-view"
                                             src="{{ asset('bundles/app/images/picture.jpg') }}" alt="Avatar"
                                             title="Change the avatar">
                                    </div>
                                </div>
                                <h3>{{ value.nom~' '~value.prenom }}</h3>

                                <ul class="list-unstyled user_data">
                                    <li>
                                        <i class="fa fa-external-link user-profile-icon"></i> {{ value.dateNaissance }}
                                    </li>

                                    <li>
                                        <i class="fa fa-external-link user-profile-icon"></i> {{ value.lieuNaissance }}
                                    </li>

                                    <li>
                                        <i class="fa fa-external-link user-profile-icon"></i> {{ value.cin }}
                                    </li>

                                    <li>
                                        <i class="fa fa-external-link user-profile-icon"></i> {{ value.sexe }}
                                    </li>

                                    <li>
                                        <i class="fa fa-external-link user-profile-icon"></i> {{ value.situation }}
                                    </li>

                                    <li><i class="fa fa-map-marker user-profile-icon"></i> {{ value.addresse }}
                                    </li>

                                </ul>

                                <a class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Edit Profile</a>
                                <br/>

                                <!-- start skills -->
                                <h4>Skills</h4>
                                <ul class="list-unstyled user_data">
                                    <li>
                                        <p>Profil</p>
                                        <div class="progress progress_sm">
                                            <div class="progress-bar bg-green" role="progressbar"
                                                 data-transitiongoal="100"></div>
                                        </div>
                                    </li>
                                </ul>
                                <!-- end of skills -->

                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-12">

                                <div class="profile_title">
                                    <div class="col-md-6">
                                        <h2>User Activity Report</h2>
                                    </div>
                                    <div class="col-md-6">
                                        <div id="reportrange" class="pull-right"
                                             style="margin-top: 5px; background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #E6E9ED">
                                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                            <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                                        </div>
                                    </div>
                                </div>


                                <table class="data table table-striped no-margin">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Project Name</th>
                                        <th>Client Company</th>
                                        <th class="hidden-phone">Hours Spent</th>
                                        <th>Contribution</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>New Company Takeover Review</td>
                                        <td>Deveint Inc</td>
                                        <td class="hidden-phone">18</td>
                                        <td class="vertical-align-mid">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success"
                                                     data-transitiongoal="35"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>New Partner Contracts Consultanci</td>
                                        <td>Deveint Inc</td>
                                        <td class="hidden-phone">13</td>
                                        <td class="vertical-align-mid">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-danger"
                                                     data-transitiongoal="15"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Partners and Inverstors report</td>
                                        <td>Deveint Inc</td>
                                        <td class="hidden-phone">30</td>
                                        <td class="vertical-align-mid">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success"
                                                     data-transitiongoal="45"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>New Company Takeover Review</td>
                                        <td>Deveint Inc</td>
                                        <td class="hidden-phone">28</td>
                                        <td class="vertical-align-mid">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-success"
                                                     data-transitiongoal="75"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %} Conception et realisation d'une appliaction web du conseil national des bareaux
        <div class="row">
            <div class="col-md-12 col-xs-12" style="padding-left: 0px;">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Inscription d'un nouveau personnel

                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>
                        <form class="form-horizontal form-label-left" action="{{ path('create_one_information') }}"
                              method="post">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Personnel</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <select class="form-control" name="employerId" required>
                                        {% for value in employers %}
                                            <option value="{{ value.id }}">{{ value.nom~' '~value.prenom }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Imatricule</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" maxlength="6" id="informationIm"
                                           name="informationIm"
                                           placeholder="Matricule" required>
                                    <span style="color: red;"
                                          id="msgIm">Immatricule ne peut pas contenir une lettre.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Corp</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" id="informationCorp" name="informationCorp"
                                           placeholder="Corp" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Grade</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" id="informationGrade"
                                           name="informationGrade"
                                           placeholder="Grade" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Indice</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" maxlength="4" id="informationIndice"
                                           name="informationIndice"
                                           placeholder="Indice" required>
                                    <span style="color: red;" id="msgIndice">Indice ne peut pas contenir une lettre et doit etre une combinaison de 3 à 4 chifre.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Emploi occuper</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" id="informationEmploiOccuper"
                                           name="informationEmploiOccuper"
                                           placeholder="Emploi occuper" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Statut</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" id="informationStatut"
                                           name="informationStatut"
                                           placeholder="Statut" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Titre honorifique</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" id="informationTitreHonorifique"
                                           name="informationTitreHonorifique"
                                           placeholder="Titre honorifique" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Qualite diplome</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" id="informationQualiteDiplome"
                                           name="informationQualiteDiplome"
                                           placeholder="Qualite diplome" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Classe</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" id="informationClasse"
                                           name="informationClasse"
                                           placeholder="Classe" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Echelon</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" id="informationEchelon"
                                           name="informationEchelon"
                                           placeholder="Echelon" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Categorie</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" id="informationCategorie"
                                           name="informationCategorie"
                                           placeholder="Categorie" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Formation</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" id="informationFormation"
                                           name="informationFormation"
                                           placeholder="Formation" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Fonction</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control" id="informationFonction"
                                           name="informationFonction"
                                           placeholder="Fonction" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Date effet</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" name="informationDateEffet"
                                           class="form-control has-feedback-left"
                                           value="" id="single_cal1"
                                           placeholder="Date d'entre" aria-describedby="inputSuccess2Status">
                                    <span class="fa fa-calendar-o form-control-feedback left"
                                          aria-hidden="true"></span>
                                    <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                </div>
                            </div>

                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-primary">Ajouter</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}